# Byte-compiled / optimized / DLL / cache files
__pycache__/
**/.*_cache/
.cache

# Distribution / packaging
dist/
build/

# Personal files
.DS_Store
.vscode/
.dev*
.envrc
.venv*
.python-version
.env*
